
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px;
  text-align: center;
  font-size: 85px;
  h2 {
    margin: 20px;
    font-size: 20px;
    max-width: 230px;
  }
  h1 {
    margin: 0;
    font-size: 85px;
  }
}
.slick-slider{
  min-width: 0;
  display: flex;
  flex-direction: row;
}
.slick-track{
  display: flex;
 align-items: flex-end;
}
.slick-list {
  overflow: hidden;
  z-index: 1;
}
.slider__item {
  padding: 0px 15px;

  img {
    max-width: 100%;
    height: auto;
  }
}
.slider {
  position: relative;
  padding: 0px 30px;
}

.slider-box {
  position: relative;
}

li {
  margin-top: 20px;
  position: relative;
  float: left;
  margin-right: 20px;
}

.prev,
.next {
  position: absolute;
  top: 30%;
  height: 60px;
  width: 60px;
  z-index: 1;
  cursor: pointer;
}

.next {
  right: 0;
}